# https://github.com/weuritz8u/dev-envirment

# dev_envirment_dara

# <-- === --> #
# -->
# nextjs -> dev_envirment_dara

dev_envirment_dara/

dev_install.cmd
dev_start.cmd

# # <-- === --> #
# -->
# local-HTTP-server -> dev_envirment_dara

dev_envirment_dara/
run_server_for_testing.bat

server_start.py
addons/create_http_server.py
